.link-btn-img, .primary-btn {
  width: 12.5rem;
  text-align: center;
  background-color: $color-bg-body;
  border-radius: 6.25rem;
}

.link-btn-img {
  padding: 1.25rem;
  img {
    margin-right: -1.5rem;
    margin-left: 0.25rem;
    vertical-align: top;
    opacity: 0;
    @media screen and (max-width: $breakpoint-md) {
      vertical-align: sub;
      margin-right: 0;
      opacity: 1;
    }
  }

  &:hover {
    img {
      margin-right: 0;
      opacity: 1;
    }
  }
}

.primary-btn {
  display: flex;
  padding: 0.75rem 1.25rem;
  text-align: start;
  color: $color-text-dark;
  border: 1px solid $color-border-dark;
  img {
    margin-right: 7px;
  }
  & > span {
    padding-left: 0.438rem;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  .subtitle {
    font-size: 0.625rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-text-light;
      background-color: $color-bg-container;
      cursor: pointer;
    }
  }
  
}

.icon-btn {
  @include button-icon (
    $color: $color-border-light,
    $color-hover: $color-text-dark,
    $color-hover-bg: $color-bg-body);
  .svg-icon {
    vertical-align: middle;
    // fill: currentColor;
  }
}

.secondary-btn {
  @include flex-container();
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  color: $color-text-dark;
  border: 1px solid $color-border-light;
  border-radius: 6.25rem;
  background-color: transparent;
  .circle {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: $color-border-light;
    img {
      vertical-align: bottom;
    }
  }
  &.active {
    color: $color-text-light;
    background-color: $color-bg-container;
    .circle {
      background-color: $color-bg-body;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-text-light;
      background-color: $color-bg-container;
      cursor: pointer;
      .circle {
        background-color: $color-bg-body;
      }
    }
  }
}

.cancel-btn {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .link-btn-img img,
  .link-btn-img:hover img,
  .primary-btn,
  .secondary-btn {
    transition: all 0.5s ease;
  }
}
