.slider {
  position: relative;
  .slide-wrap {
    display: flex;
    overflow-x: hidden;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    .carousel {
      display: flex;
      transition: all 1.5s ease;
      max-width: 100%;
    }
    .slide {
      flex: 0 0 100%;
      text-align: center;
      .slide-content {
        @include flex-container ($direction: column);
        max-width: 30rem;
        margin: 2.5rem auto 0 auto;
        figcaption {
          margin-top: 1.125rem;
        }
        p, h3 {
          margin-top: 1rem;
        }
      }
    }
  }
  .arrow {
    @include button-icon();
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    .svg-icon {
      fill: currentColor;
    }
  }
  .progress {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    .dash {
      position: relative;
      width: 2.5rem;
      height: 0.25rem;
      background-color: $color-border-light;
      border-radius: 6.25rem;
      cursor: pointer;
      &:nth-child(2){
        margin: 0 0.75rem;
      }
      .dash-progress {
        position: absolute;
        width: 0;
        height: 0.25rem;
        display: block;
        background-color: $color-border-dark;
        border-radius: 6.25rem;
        transition: width 0.5s ease;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .slider .slide-wrap {
    max-width: 100%;
  }
  .slider .slide-wrap .slide .slide-content {
    max-width: 21.75rem;
    margin: 2.5rem 0 0 0;
  }
}

@media screen and (max-width: calc($breakpoint-md - 1px)) and (min-width: calc($breakpoint-sm + 1px)) {
  .slider .slide-wrap {
    max-width: 100%;
  }
  .slider .slide-wrap .slide .slide-content {
    max-width: 19rem;
  }
}

@media screen and (max-width: calc($breakpoint-md - 1px)) {
  .arrow {
    display: none;
  }
}
