//Colors
$color-bg-body: #E1D4C9;
$color-bg-container: #665F55;
$color-bg-backdrop: rgba(64, 63, 61, 0.80);
$color-text-dark: #403F3D;
$color-text-light: #E1D4C9;
$color-text-accent: #B0907A;
$color-border-dark: #665F55;
$color-border-light: #C1B6AD;

//Fonts
$font-main: 'Inter', sans-serif;

//Breakpoints
$breakpoint-sm: 380px;
$breakpoint-md: 768px;
