.menu-header {
  max-width: 50rem;
  margin: 1.25rem auto 0;
  text-align: center;
  .link {
    &.active:after {
      transform: scaleX(1);
    }
  }
}

.menu-content {
  @include flex-container($direction: column);
  .menu-btn {
    @include flex-container();
    gap: 1rem;
    margin: 2.4rem 0;
  }

  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, 31.625rem);
    gap: 2.5rem;
  
    .grid-item {
      border: 1px solid $color-border-light;
      border-radius: 2.5rem;
      @include flex-container($direction: column, $justifyContent: start);
      cursor: pointer;
      & * {
        pointer-events: none;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          .item-img img {
            transform: scale(1);
          }        
        }
      }
      .item-img {
        border-radius: 2.5rem;
        overflow: hidden;
        position: relative;
        img {
          height: 100%;
          transform: scale(1.1);
        }
      }
      .item-text {
        @include flex-container($direction: column, $alignItems: start);
        width: 100%;
        padding: 1.25rem;
        flex-grow: 1;
        h3.title {
          margin-bottom: 0.75rem;
        }
        .card-footer {
          margin-top: auto;
        }
      }
    }
    
  }

  .refresh {
    @include button-icon();
    margin-top: 2.5rem;
  }

  @media screen and (max-width: $breakpoint-md) {
    padding-right: 0.875rem;
    padding-left: 0.875rem;
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding-right: 1.15rem;
    padding-left: 1.15rem;
    .menu-btn {
      gap: 0.5rem;
    }
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 31.625rem);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .item-img img {
    transition: all 0.5s ease 0s;
  }
}
