.section-hero {
  min-height: 40.25rem;
  margin-top: 1.25rem;
  padding: 6.25rem;
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;

  h1 {
    color: $color-text-light;
  }

  p {
    padding: 2.5rem 0;
    color: $color-text-light;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
  @media screen and (max-width: $breakpoint-sm) {
    min-height: calc(100% - 6.25rem);
    padding: 3.75rem 1rem;
  }
}
